.filmItem {
  display: block;

  &__img {
      display: block;
      max-width: 100%;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 0;
  }

  &__releaseYear {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 5px;
  }

  &__genre {
    color: gray;
    font-size: 0.75rem;
  }

  &__title {}

}

.filmList {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 0;

  .filmItem {
      flex: 0 0 200px;
      margin: 20px 20px;
  }
}

.filmDetails {
  display: flex;
  
  &__img {
    
  }
}