.header {
	// background: url('../images/back.jpg') no-repeat center bottom;
	background-color: rgb(36, 36, 36);
	// background-size: cover;
	color: #fff;
	padding: 0 0 10px 0;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	min-height: 200px;


	&__siteName {
		padding: 10px 0 0 0;
		color: red;
		display: flex;
		justify-content: space-between;
	}

}

.search {

	&__title {
		text-transform: uppercase;
		padding: 10px 0 10px 0;
	}

	&__input {
		height: 40px;
		padding: 0 18px 0 18px;
		display: block;
		background: #000;
		color: #fff;
		width: 100%;
		font-size: 1.5rem;
		font-family: Roboto, sans-serif;
		outline: none;
		resize: none;
		border: none;
		border-bottom: 1px solid rgb(255, 94, 94);
	}

	&__button {
		line-height: 38px;
		background: red;
		color: #fff;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		outline: none;
		padding: 0 10px;
		font-size: 1rem;
		border: 1px solid transparent;
		white-space: nowrap;
		width: 200px;
		

		&:hover {
			background: rgb(255, 94, 94);
		}

		&:active {
			background: rgb(165, 40, 40);
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0 0 0;
	}

	&__filter {
		display: flex;
		align-items: center;
	}

	&__filterText {
		text-transform: uppercase;
		color: #fff;
	}

	&__filterItem {
		background: #888888;
		display: inline-block;
		padding: 4px 10px;
		margin-left: 10px;
		cursor: pointer;
		text-transform: uppercase;

		&--active {
			background: red;
		}
	}
}